@import "tailwindcss";
@import "@repo/tailwind-config";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

html, body {
font-family: 'Satoshi', sans-serif;
font-family: 'Bevellier', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Bevellier', sans-serif;
}

p, button, a {
  font-family: 'Satoshi', sans-serif;
}


@layer base {
  * {
    @apply border-border outline-ring/50;
}
  body {
    @apply bg-background text-foreground;
}
}

.destructive {
    @apply bg-destructive text-white shadow-xs hover:bg-destructive/90 focus-visible:ring-destructive/20 dark:focus-visible:ring-destructive/40 dark:bg-destructive/60;
}