@import "tailwindcss";
@import "@repo/tailwind-config";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

html, body {
font-family: 'Satoshi', sans-serif;
font-family: 'Bevellier', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Bevellier', sans-serif;
}

p, button {
  font-family: 'Satoshi', sans-serif;
}


@layer base {
  * {
    @apply border-border outline-ring/50;
}
  body {
    @apply bg-background text-foreground;
}
}
