@import "tailwindcss";
@import "@repo/tailwind-config";

body {
  color: var(--foreground);
  background: linear-gradient(
      to bottom,
      transparent,
      var(--background-end)
    )
    var(--background-start);
}

html, body {
font-family: 'Satoshi', sans-serif;
font-family: 'Bevellier', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Bevellier', sans-serif;
}

p, button {
  font-family: 'Satoshi', sans-serif;
}
