@import "tailwindcss";
@import "./theme.css";



h1 {
    font-weight: 500;
    line-height: 1.2;
    margin: 0;
    padding: 0;
}

h2 {
    font-weight: 500;
    line-height: 1.2;
    margin: 0;
    padding: 0;
}

h3 {
    font-weight: 500;
    line-height: 1.2;
    margin: 0;
    padding: 0;
}

h4 {
    font-weight: 500;
    line-height: 1.2;
    margin: 0;
    padding: 0;
}

h5 {
    font-weight: 500;
    line-height: 1.2;
    margin: 0;
    padding: 0;
}

h6 {
    font-weight: 500;
    line-height: 1.2;
    margin: 0;
    padding: 0;
}   

p {
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

